# Dependencies
node_modules

# Config files - using relative path from root
myproject-backend/config/env.js
myproject-backend/config/config.json
myproject-backend/env.js
myproject-backend/chatbot-api/.env

# Keep template files unignored
!myproject-backend/config/*.template.js
!myproject-backend/config/*.template.json

frontend/build/asset-manifest.json
frontend/build/favicon.ico
frontend/build/index.html
frontend/build/logo.png
frontend/build/manifest.json
frontend/build/robots.txt
frontend/build/static/css/main.a33749f1.css
frontend/build/static/css/main.a33749f1.css.map
frontend/build/static/js/main.b212576f.js
frontend/build/static/js/main.b212576f.js.LICENSE.txt
frontend/build/static/js/main.b212576f.js.map
frontend/build/static/media/logo.64163def9788d1c09209.png
frontend/build/styles.css
/frontend/build
