# Dependencies
node_modules

# Config files - using relative path from root
myproject-backend/config/env.js
myproject-backend/config/config.json
myproject-backend/env.js
myproject-backend/chatbot-api/.env

# Keep template files unignored
!myproject-backend/config/*.template.js
!myproject-backend/config/*.template.json

/frontend/build
