html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.stakeholders-container {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-content-stakeholders {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #E5E9EC;
  margin-left: 18vw;
  margin-top: 9.2vh;
}

.search-stakeholders {
  margin-left: 5vw;
}

.add-vendor-button {
  margin-top: 5vh;
}

.add-customer-button {
  margin-top: 5vh;
  margin-left: 5vw;
}

.add-staff-button {
  margin-top: 5vh;
  margin-left: 5vw;
}

.view-vendor-button {
  margin-top: 5vh;
}

.view-customer-button {
  margin-top: 5vh;
  margin-left: 5vw;
}

.view-staff-button {
  margin-top: 5vh;
  margin-left: 5vw;
}